#tituloImportanciaPerros {
    text-align: start;

    h2 {
        background-color: $verde2;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 550px;
        color: $marron;
    }
}

#tituloPerroDelMes {
    text-align: start;

    h2 {
        background-color: $verde2;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 200px;
        color: $marron;
    }
}



#esperanzaDeVida {
    svg {
        height: 40px;
        width: 50px;
    }

}

#origen {

    svg {
        width: 50px;
        height: 40px;
    }

}

#caracteristicasFisicas {

    svg {
        width: 50px;
        height: 40px;
    }
}

#pesoAdulto {
    svg {
        width: 50px;
        height: 40px;
    }
}

#caracter {
    svg {
        width: 50px;
        height: 40px;
    }
}

#idealPara {
    svg {
        width: 50px;
        height: 40px;
    }
}

#climaRecomendado {
    svg {
        width: 50px;
        height: 40px;
    }
}

#tipoDePelo {
    svg {
        width: 50px;
        height: 40px;
    }
}