#productosDestacados {
  height: auto;
  width: auto;
  padding: 0px;
}


#tituloProductosDestacados {
  text-align: start;

  h2 {
    background-color: $verde2;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 270px;
    color: $marron;
  }

}

.productosDestacados--size {
  margin: 0px;
  padding: 20px;
  

  h3 {
    font-size: 13px;
    text-align: center;
    border: 2px solid black;
    height: 3vw;
  }

  img {
    border: 2px solid gray;
    width: 100%;
    height: auto;
  }
}